include navbar.pug
doctype html
html(lang="en")
    head
        title All Posts
        link(rel="stylesheet" href="/css/main.css")
        link(rel="stylesheet" href="/css/main-dark.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")
        script(src="/js/main.js")
        script(src="/js/theme.js")
    body
        +navbar(userId)
        h1 All Posts
        form(action="/create-post" method="get")
            button.create-post-btn(type="submit") Create Post
        form(method="get" action="/")
            select.sort-options(name="sort")
                option(value="created_at") Newest
                option(value="like_count") Most Liked
            button.sort-btn(type="submit") Sort
        .posts-list
            each post in posts
                .post(onclick=`goToPost('${post.id}')`)
                    p.post-content= post.content
                    p.post-author Posted by #{post.username} at 
                        span.date-time #{post.created_at}
                    button.like-btn(id=`like-btn-${post.id}` onclick=`likePost('${post.id}')` data-liked=post.liked? 'true' : 'false')
                        i.fa.fa-thumbs-up(id=`like-icon-${post.id}` aria-hidden="true")
                    span(id=`like-count-${post.id}`)= post.like_count
        // Pagination buttons
        if pagination.prev || pagination.next
            .pagination
                if pagination.prev
                    a(href=`/?page=${pagination.prev}&sort=${sortBy}`) Previous
                if pagination.next
                    a(href=`/?page=${pagination.next}&sort=${sortBy}`) Next
