include navbar.pug
doctype html
html(lang="en")
    head
        title Post
        link(rel="stylesheet" href="/css/main.css")
        link(rel="stylesheet" href="/css/navbar.css")
        script(src="/js/post.js")
    body
        +navbar(userId)
        - var firstSentence = post.content.split(".")[0] + '...';
        h1= firstSentence
        .post-content-container
            p.post-paragraph= post.content
            p.post-author Posted by #{post.username} at 
                span.date-time #{post.created_at}
            if userId === post.user_id
                .post-buttons
                    form(action=`/edit-post/${post.id}`, method="get")
                        button(type="submit") Edit
                    button(onclick=`deletePost('${post.id}')`) Delete
